$primary   : #005bff;
$secondary : #111827;
$accent    : #ff2d55;

$dark      : #0f172a;
$dark-page : #020617;

$positive  : #16a34a;
$negative  : #e11d48;
$info      : #0ea5e9;
$warning   : #f59e0b;
